@media(max-width: 78em){
    .gridy{
        margin-top: 10rem;
        gap: 5rem;
    }

    .nav-list{
        gap: 4rem;
    }

    .la-bars{
        visibility: visible;
        display: block;
        font-size: 2rem;
    }

}


@media(max-width: 60em){
    .nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /* transform: translate(100%); */
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.93);
        /* transform: translateX(100%); */
        transition: all 1s ease-in;
        /* display: none; */

        opacity: 1;
        /* pointer-events: none; */
        /* visibility: hidden; */
        z-index: 999;
    }

    .nav-list{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        z-index: 998;
        /* background-color: whitesmoke; */
        /* margin-top: 20rem; */
    }

    .nav-open .nav-list{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        /* transform: translateX(0); */
    }

    .la-bars{
        visibility: visible;
        font-size: 3rem;
    }

    .la-times{
        visibility: visible;
        font-size: 3rem;
    }

    .gridy{
        z-index: 997;
    }
}

@media(max-width: 49em){
    html{
        font-size: 41%;
    }

    .nav-open{
        background-color: white;
        z-index: 999;
        opacity: 1;
        cursor: pointer;
        transition: all 1s ease-in-out;
    }

    .gridy{
        grid-template-columns: 1fr;
        gap: 20rem;
        z-index: 998;
    }
    .text-box{
        z-index: 997;
    }

    .la-bars{
        visibility: hidden;
    }

    .mine{
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
    }

    .la-times{
        visibility: visible;
    }
}